#section__lights {
   background-image: url("../img/lights.jpg");
   height: 150px;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}
.dark {
   position: absolute;
   background: rgba(0, 0, 0, 0.6);
   height: 150px;
   width: 100%;
}
#media-section{
   background-image: url("../img/media.jpg");
   height: 150px;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}
.footer{
   background-color: black;
   height: 80px;
}
.carousel-item {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
}
.carousel-indicators li {
border-radius: 50%;
width: 8px !important;
height: 8px !important;
}